Q1. Create one variable containing following type of data:  

(i) string   
(ii) list   
(iii) float  
(iv) tuple

#### Answer -    
(i) string

In [1]:
a = 'anjay sahu'

(ii) list

In [2]:
l = [1, 2, 3, 85.36, True, 6+3j, 'anjay']

(iii) float

In [3]:
f = 56.32

(iv) tuple

In [4]:
t = (1, 5, 6, True, 15.32, 'anjay', [5,6,'my',False,2.55], 2+5j)

 Q2. Given are some following variables containing data :  
 
(i) var1 = ‘ ‘  
(ii) var2 = ‘[ DS , ML , Python]’  
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]   
(iv) var4 = 1.    

What will be the data type of the above given variable.

#### Answer -     
(i) var1 = ‘ ‘  
ans. - string

(ii) var2 = ‘[ DS , ML , Python]’   
ans. - string

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]    
ans. - list 

(iv) var4 = 1  
ans. - integer

Q3. Explain the use of the following operators using an example:  
(i) /  
(ii) %   
(iii) //  
(iv) **

#### Answer -

(i) /

In [5]:
9/2  # ( / ) use for division

4.5

(ii) %

In [6]:
14%3  # use (%) to get remainder

2

(iii) //

In [7]:
33//5 # use (//) to get division floor

6

(iv) **

In [8]:
3**3 # use (**) to get  power

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

#### Answer -

In [9]:
l = [1, 6, True, 6+5j, 'anjay', 23.65, False, 55, 'data', 12]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
6
<class 'int'>
True
<class 'bool'>
(6+5j)
<class 'complex'>
anjay
<class 'str'>
23.65
<class 'float'>
False
<class 'bool'>
55
<class 'int'>
data
<class 'str'>
12
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

#### Answer -

In [10]:
A = 10
B = 2

while A%B == 0 :
    A = A//B
    print(f"yes, number A is divisible by number B and it's divisible by {A} times ")
    A = A + 1
    
else:
    print("number A is not divisible by number B")

yes, number A is divisible by number B and it's divisible by 5 times
yes, number A is divisible by number B and it's divisible by 3 times
yes, number A is divisible by number B and it's divisible by 2 times
number A is not divisible by number B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

#### Answer -

In [11]:
j = [1,2,3,9,8,7,45,78,796,64,45,65,68,65,59,152,596,89,65,784,54,894,59,51,90]

for a in j:
    if a%3 == 0 :
        print('yes, this is divisible by 3')
    else:
        print('this is not divisible by 3')

this is not divisible by 3
this is not divisible by 3
yes, this is divisible by 3
yes, this is divisible by 3
this is not divisible by 3
this is not divisible by 3
yes, this is divisible by 3
yes, this is divisible by 3
this is not divisible by 3
this is not divisible by 3
yes, this is divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
this is not divisible by 3
yes, this is divisible by 3
yes, this is divisible by 3
this is not divisible by 3
yes, this is divisible by 3
yes, this is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

#### Answer -

In [12]:
a = [1,5,6,9,"anjay","class"] 
a[1] = "my"
a

[1, 'my', 6, 9, 'anjay', 'class']

##### Mutable =
Mutable is the data type in which we can access any data through indexing And change or reassign it.

In [13]:
s = "anjay"
s[3] = "o"
s

TypeError: 'str' object does not support item assignment

##### Immutable = 
Immutable is the data type in which we can access any data through indexing but we can't change or reassign it.